<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="/static/libraries/font-awesome/css/font-awesome.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/static/libraries/jquery-bxslider/jquery.bxslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/static/libraries/flexslider/flexslider.css" media="screen, projection">
    <link rel="stylesheet" type="text/css" href="/static/css/realocation.css" media="screen, projection" id="css-main">

    <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

    <title>
        Viviendo.la
    </title>
</head>

<body>

<!-- /.palette-wrapper -->

<div id="wrapper">
    <div id="header-wrapper">
        <div id="header" class="header-classic">
    <div id="header-inner">
    
    
    <div class="header-bar">
            <div class="container">
                <div class="header-infobox">
                  <!--  <strong>E-mail:</strong> <a href="#">hello@yourcompany.com</a>-->
                </div><!-- /.header-infobox-->

                <div class="header-infobox">
                    <!--<strong>Phone:</strong> 800-123-4567-->
                </div><!-- /.header-infobox-->

                <ul class="header-bar-nav nav nav-register">
    <li><a href="register.html">Quiénes somos</a></li>
    <li><a href="register.html">Términos y condiciones</a></li>
    <li><a href="renew-password.html">Política de privacidad</a></li>
</ul>            </div><!-- /.container -->
        </div>
    
    
    
    
        <div class="header-top">
        
            <div class="container">
                <div class="header-identity">
                    <a href="/" class="header-identity-target">
                        <span class="header-icon"><i class="fa fa-home"></i></span>
                        <span class="header-title">Viviendo.la</span><!-- /..header-title -->
                    </a><!-- /.header-identity-target-->
                </div><!-- /.header-identity -->

                <div class="pull-right">
                    <ul class="header-nav nav nav-pills">
    <li class=""><a href="/">Inicio</a>    </li>

    <li class=""> <a href="#">Mis búsquedas</a> </li>
    
       <li class=""> <a href="#">Publicar</a> </li>
    
    

 
</ul><!-- /.header-nav -->                </div>
            </div><!-- /.container -->
        </div><!-- .header-top -->
    </div><!-- /.header-inner -->
</div><!-- /#header -->    </div>
    
    
    
    
    <!-- /#header-wrapper -->
<div id="main-wrapper">
    <div id="main">
        <div id="main-inner">


<div class="static-image">
                    <div class="static-image-inner">
                        <img src="/static/img/tmp/properties/large/5xxl.jpg" alt="">
                    </div><!-- /.static-image-inner -->

                    <div class="container">
                       <div class="row">
                    <div class="col-sm-4  col-md-3 map-navigation-positioning">
                        <div class="map-navigation-wrapper">
                            <div class="map-navigation">
                                <form method="post" action="?" class="clearfix">
                                    <div class="form-group col-sm-6">
                                        <label>Pais</label>

                                        <div class="select-wrapper">
                                            <select id="select-country" class="form-control">
                                               
                                                <option value="colombia">Colombia</option>
                                                <option value="chile">Chile</option>
                                                <option value="panama">Panamá</option>
                                                <option value="usa">USA</option>
                                            </select>
                                        </div><!-- /.select-wrapper -->
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-6">
                                        <label>Ciudad</label>

                                        <div class="select-wrapper">
                                            <select id="select-location" class="form-control">
                                                <option value="">Selecciona ciudad</option>
                                                {% for Ciudad in Ciudades %}
                                                <option value="{{Ciudad.codigo}}" class="colombia">{{Ciudad.nombre}} - {{Ciudad.departamento.departamento}}</option>
                                               
                                                {% endfor %}
                                            </select>
                                        </div><!-- /.select-wrapper -->
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-12">
                                        <label>Operación</label>

                                        <div class="select-wrapper">
                                            <select id="select-sublocation" class="form-control">
                                            <option value="" >Selecciona</option>
                                                <option value="2">Inmuebles en Arriendo</option>
                                                <option value="3" >Inmuebles en Venta</option>
                                               
                                                
                                               
                                               
                                            </select>
                                        </div><!-- /.select-wrapper -->
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-12">
                                        <label>Tipo de inmueble</label>

                                        <div class="select-wrapper">
                                            <select class="form-control">
                                            <option value="">Seleciona</option>
                                             {% for TipoInmueble in TiposInmuebles %}
                                                <option value="{{TipoInmueble.id_tipo_inmueble}}">{{TipoInmueble.tipo_inmueble}}</option>
                                             {% endfor %}
                                                
                                            </select>
                                        </div><!-- /.select-wrapper -->
                                    </div><!-- /.form-group -->

                                    <div class="form-group col-sm-12">
                                        <input type="submit" class="btn btn-primary btn-inversed btn-block" value="Buscar">
                                    </div><!-- /.form-group -->
                                    
                                    <div class="form-group col-sm-8">
                                        
                                        <input type="text"  class="form-control" placeholder="Código, Ej: 1458">
                                    </div>
                                    
                                    <div class="form-group col-sm-4">
                                        <input type="submit" class="btn btn-primary btn-inversed btn-block" value=">">
                                    </div>
                                    
                                </form>
                            </div><!-- /.map-navigation -->
                        </div><!-- /.map-navigation-wrapper -->
                    </div><!-- /.col-sm-3 -->
                </div>
                    </div><!-- /.static-image-description -->
                </div>


            <!-- MAP -->
<!-- /.block-content -->
            <div class="container">
                <!-- SLOGAN -->
<div class="block-content background-primary background-map block-content-small-padding fullwidth">
    <div class="block-content-inner">
        <h2 class="no-margin center caps">El único portal de inmuebles con información al día</h2>
    </div><!-- /.block-content-iner -->
</div><!-- /.block-content-->                <!-- ISOTOPE GRID -->
<div class="block-content block-content-small-padding">
<div class="block-content-inner">
<h2 class="center">Mejores propiedades de la semana</h2>

<ul class="properties-filter">
    <li class="selected"><a href="#" data-filter="*"><span>Todas</span></a></li>
    <li><a href="#" data-filter=".property-arriendo"><span>En Arriendo</span></a></li>
    <li><a href="#" data-filter=".property-venta"><span>En Venta</span></a></li>
</ul>
<!-- /.property-filter -->

<div class="properties-items">
<div class="row"> <!--fila 1 de 2 de 4 inmuebles-->
   
   {% for Inmueble in InmueblesArriendo%}
    <div class="property-item property-arriendo col-sm-6 col-md-3">
    <!--en class de este div va: property-arriendo ó property-venta-->
        <div class="property-box">
            <div class="property-box-inner">
                <h3 class="property-box-title"><a href="{{Inmueble.get_url}}">{{Inmueble.ciudad.nombre}}<BR>{{Inmueble.tipo_inmueble.tipo_inmueble}}<BR>{{Inmueble.codigo}}</a></h3>
                <h4 class="property-box-subtitle"><a href="{{Inmueble.get_url}}">{{Inmueble.barrio}} </a></h4>
				 <!-- Etiqueta para implementar mas adelante
                <div class="property-box-label property-box-label-primary">&nbsp;&nbsp;Nuevo</div>
                /.property-box-label -->

                <div class="property-box-picture">
                    <div class="property-box-price">
                    {% load humanize %}

                    {% if Inmueble.gestion.id_gestion == 1 %}
                    	
                    	Arriendo: $ {{Inmueble.canon|intcomma}}                        
                    {% elif Inmueble.gestion.id_gestion == 3 %}   
                    	Venta: $ {{Inmueble.venta|intcomma}}<br>Arriendo: $ {{Inmueble.canon|intcomma}}
                    {% endif %}  
                                       
                   
                    <!--si es gestion 3: Venta: $ 745.000.000<br>Arriendo: $ 840.000--></div>
                    <!-- /.property-box-price -->
                    <div class="property-box-picture-inner">
                        <a href="{{Inmueble.get_url}}" class="property-box-picture-target">
                            <img src="{% for Foto in Inmueble.get_primera_foto %}{{Foto.2}}{{Foto.0}}{% endfor %}" alt=
                            "{{Inmueble.tipo_inmueble.tipo_inmueble}} {{Inmueble.ciudad.nombre}} {{Inmueble.barrio}}  
                        
                        {% if Inmueble.gestion.id_gestion == 1 %}
                    	   	Arriendo: $ {{Inmueble.canon|intcomma}}                        
                    	{% elif Inmueble.gestion.id_gestion == 3 %}   
                    		Venta: $ {{Inmueble.venta|intcomma}}<br>Arriendo: $ {{Inmueble.canon|intcomma}}
                    	{% endif %} "  height="220px">
                        </a><!-- /.property-box-picture-target -->
                    </div>
                    <!-- /.property-picture-inner -->
                </div>
                <!-- /.property-picture -->

                <div class="property-box-meta">
                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>{{Inmueble.habitaciones}}</strong>
                        <span>Cuartos</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>{{Inmueble.banos}}</strong>
                        <span>Baños</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>
                        {% if Inmueble.area_construida > 0 %}
                        {{Inmueble.area_construida|floatformat}} M&sup2;
                        {% endif %}</strong>
                        <span>Área</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>
                        {% if Inmueble.parqueadero != '' %}
                        	{{Inmueble.parqueadero}}
                        {% else %}
                        	 Des   
                        {% endif %} 
                             
                        </strong>
                        <span>Garajes</span>
                    </div>
                    <!-- /.col-sm-3 -->
                </div>
                <!-- /.property-box-meta -->
            </div>
            <!-- /.property-box-inner -->
        </div>
        <!-- /.property-box -->
    </div>
    <!-- /.property-item -->
	{% endfor %}
    
    {% for Inmueble in InmueblesVenta %}
    <div class="property-item property-venta col-sm-6 col-md-3">
    <!--en class de este div va: property-arriendo ó property-venta-->
        <div class="property-box">
            <div class="property-box-inner">
                <h3 class="property-box-title"><a href="{{Inmueble.get_url}}">{{Inmueble.ciudad.nombre}}<BR>{{Inmueble.tipo_inmueble.tipo_inmueble}}<BR>{{Inmueble.codigo}}</a></h3>
                <h4 class="property-box-subtitle"><a href="{{Inmueble.get_url}}">{{Inmueble.barrio}} </a></h4>
				 <!-- Etiqueta para implementar mas adelante
                <div class="property-box-label property-box-label-primary">&nbsp;&nbsp;Nuevo</div>
                /.property-box-label -->

                <div class="property-box-picture">
                    <div class="property-box-price">
                    {% load humanize %}

                    {% if Inmueble.gestion.id_gestion == 2 %}
                    	
                    	Venta: $ {{Inmueble.venta|intcomma}}                        
                    {% elif Inmueble.gestion.id_gestion == 3 %}   
                    	Venta: $ {{Inmueble.venta|intcomma}}<br>Arriendo: $ {{Inmueble.canon|intcomma}}
                    {% endif %}  
                                       
                   
                    <!--si es gestion 3: Venta: $ 745.000.000<br>Arriendo: $ 840.000--></div>
                    <!-- /.property-box-price -->
                    <div class="property-box-picture-inner">
                        <a href="{{Inmueble.get_url}}" class="property-box-picture-target">
                            <img src="{% for Foto in Inmueble.get_primera_foto %}{{Foto.2}}{{Foto.0}}{% endfor %}" alt=
                            "{{Inmueble.tipo_inmueble.tipo_inmueble}} {{Inmueble.ciudad.nombre}} {{Inmueble.barrio}}  
                        
                        {% if Inmueble.gestion.id_gestion == 1 %}
                    	   	Arriendo: $ {{Inmueble.canon|intcomma}}                        
                    	{% elif Inmueble.gestion.id_gestion == 3 %}   
                    		Venta: $ {{Inmueble.venta|intcomma}}<br>Arriendo: $ {{Inmueble.canon|intcomma}}
                    	{% endif %} "  height="220px">
                        </a><!-- /.property-box-picture-target -->
                    </div>
                    <!-- /.property-picture-inner -->
                </div>
                <!-- /.property-picture -->

                <div class="property-box-meta">
                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>{{Inmueble.habitaciones}}</strong>
                        <span>Cuartos</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>{{Inmueble.banos}}</strong>
                        <span>Baños</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong>
                        {% if Inmueble.area_construida > 0 %}
                        {{Inmueble.area_construida|floatformat}} M&sup2;
                        {% endif %}</strong>
                        <span>Área</span>
                    </div>
                    <!-- /.col-sm-3 -->

                    <div class="property-box-meta-item col-xs-3 col-sm-3">
                        <strong> 
                        {% if Inmueble.parqueadero != '' %}
                        	{{Inmueble.parqueadero}}
                        {% else %}
                        	 Des   
                        {% endif %} 
                        </strong>
                        <span>Garajes</span>
                    </div>
                    <!-- /.col-sm-3 -->
                </div>
                <!-- /.property-box-meta -->
            </div>
            <!-- /.property-box-inner -->
        </div>
        <!-- /.property-box -->
    </div>
    <!-- /.property-item -->
	{% endfor %}
   		 <!--inmueble 2-->
    
    <!-- /.property-item -->

   		 <!--inmueble 3-->
    
    <!-- /.property-item -->

   		 <!--inmueble 4-->
    
    <!-- /.property-item -->
</div>
<!-- /.row -->

<div class="row">  <!--fila 2 de 2 de 4 inmuebles-->

		 <!--inmueble 1-->
    
    <!-- /.property-item -->

    	 <!--inmueble 2-->
         
    <!-- /.property-item -->

    	 <!--inmueble 3-->
         
    <!-- /.property-item -->

    	 <!--inmueble 4-->
         
    <!-- /.property-item -->
</div>
<!-- /.row -->
</div>
<!-- /.properties-items -->

</div>
<!-- /.block-content-inner -->
</div><!-- /.block-content -->                
<!-- CAROUSEL -->
<div class="block-content background-secondary background-map fullwidth">
<h2>Propiedades recientes</h2>
<div class="block-content-inner">

<ul class="bxslider clearfix">
{% for Inmueble in UltimosInmuebles %}
<li>
    <div class="property-box no-border small">
        <div class="property-box-inner">
            <h3 class="property-box-title"><a href="{{Inmueble.get_url}}">{{Inmueble.ciudad.nombre}}<BR>{{Inmueble.tipo_inmueble.tipo_inmueble}}</a></h3>
            <h4 class="property-box-subtitle"><a href="{{Inmueble.get_url}}">{{Inmueble.barrio}}</a></h4>
           <!-- IMPLEMENTAR DESPUES 
           <div class="property-box-label property-box-label-primary">Sale</div> /.property-box-label -->

            <div class="property-box-picture">
                <div class="property-box-price">
                {% if Inmueble.gestion.id_gestion == 1 %}
                   	Arriendo: $ {{Inmueble.canon|intcomma}}  
                {% elif Inmueble.gestion.id_gestion == 2 %}   
                   	Venta: $ {{Inmueble.venta|intcomma}}
                {% elif Inmueble.gestion.id_gestion == 3 %}   
                   	Venta: $ {{Inmueble.venta|intcomma}}<br>Arriendo: $ {{Inmueble.canon|intcomma}}
                {% endif %}  
                
                
                </div><!-- /.property-box-price -->
                <div class="property-box-picture-inner">
                    <a href="{{Inmueble.get_url}}" clasassets
assets
assets
assetss="property-box-picture-target">
                        <img src="{% for Foto in Inmueble.get_primera_foto %}{{Foto.2}}{{Foto.1}}{% endfor %}" alt="" >
                    </a><!-- /.property-box-picture-target -->
                </div><!-- /.property-picture-inner -->
            </div><!-- /.property-picture -->
        </div><!-- /.property-box-inner -->
    </div><!-- /.property-box -->
</li>
{% endfor %}
</ul>
</div><!-- /.block-content-inner -->
</div><!-- /.block-content -->                <!-- STATISTICS -->
<div class="block-content block-content-small-padding">
    <div class="block-content-inner">
        <div class="center">
            <h2 class="color-primary">Cerca de {{total_inmuebles}} Propiedades en nuestro directorio</h2>
        </div><!-- /.center -->

        <div class="row">
            <div class="col-sm-2 col-sm-offset-2">
                <div class="block-stats background-dots background-primary color-white">
                    <strong>{{total_apartamentos}}</strong>
                    <span>Apartamentos</span>
                </div><!-- /.block-stats -->
            </div>
            <div class="col-sm-2">
                <div class="block-stats background-dots background-primary color-white">
                    <strong>{{total_casas}}</strong>
                    <span>Casas</span>
                </div><!-- /.block-stats -->
            </div>
            <div class="col-sm-2">
                <div class="block-stats background-dots background-primary color-white">
                    <strong>{{total_locales}}</strong>
                    <span>Locales</span>
                </div><!-- /.block-stats -->
            </div>
            <div class="col-sm-2">
                <div class="block-stats background-dots background-primary color-white">
                    <strong>{{total_oficinas}}</strong>
                    <span>Oficinas</span>
                </div><!-- /.block-stats -->
            </div>
        </div><!-- /.row -->
    </div><!-- /.block-content-inner -->
</div><!-- /.block-content -->                <!-- HEXS -->
<!-- /.block-content -->            </div><!-- /.container -->
        </div><!-- /#main-inner -->
    </div><!-- /#main -->
</div><!-- /#main-wrapper -->

    <div id="footer-wrapper">
      
      
      <div id="footer">
            <div id="footer-inner">
                <div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="widget">
    <h3 class="widget-title">Búsquedas</h3>

    <div class="widget-content">
        <ul class="nav nav-pills nav-stacked">
        <h4>Bogotá</h4>
            <a href="#">Apartamentos en Arriendo</a>
                      <br><a href="#">Apartamentos en Venta</a>
                      <br><a href="#">Casas en Arriendo</a>
                      <br><a href="#">Casas en Venta</a>
                      
          <h4>Cali</h4>
            <a href="#">Apartamentos en Arriendo</a>
                      <br><a href="#">Apartamentos en Venta</a>
                      <br><a href="#">Casas en Arriendo</a>
                      <br><a href="#">Casas en Venta</a>
        </ul>
    </div><!-- /.widget-content -->
</div><!-- /.widget -->            </div>

            <div class="col-sm-4">
                <div class="widget">
    <h3 class="widget-title">Novedades</h3>

    <div class="widget-content">
        <ul class="recent-posts">
            
<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fdomus.la&amp;width=270&amp;colorscheme=dark&amp;show_faces=true&amp;border_color=%23ffff&amp;stream=true&amp;header=false&amp;height=200" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:270px; height:200px;" allowTransparency="true"></iframe>  
            
            
        </ul><!-- /.recent-posts -->
    </div><!-- /.widget-content -->
</div><!-- /.widget -->            </div>

            <div class="col-sm-4">
                <div class="widget">
    <h3 class="widget-title">Agentes e inmobiliarias</h3>

    <div class="widget-content">
        <address>
            Publica tus inmuebles en <strong>bienes.la</strong> y aparece en los siguientes portales 
            especialistas en inmobiliaria al mismo tiempo:<br><br>
            Trovit<br>
            Mitula<br>
            OLX<br>
            donkiz<br>
            divendo<br>
            sumavisos<br>
        </address>

      

        <a href="#" class="btn btn-primary">Publicar inmuebles</a>
    </div><!-- /.widget-content -->
</div><!-- /.widget -->            </div>

            

        </div><!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-9">
                <ul class="footer-nav nav nav-pills">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Mis búsquedas</a></li>
    <li><a href="#">Publicar</a></li>
   </li>
</ul><!-- /.footer-nav -->            </div>

            <div class="col-sm-3">
         
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.footer-top -->
                <div class="footer-bottom">
                    <div class="container">
                        <p class="center no-margin">
                           Potenciado por <strong><a href="http://www.domus.la">software inmobiliario DOMUS</a></strong>
                            <br>Diseño y desarrollo por <strong><a href="http://www.dynamicweb.co">dynamicweb.co</a></strong>
                            <br> All Right reserved  &copy; 2014 
                        </p>

                        <div class="center">
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
<!--                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                               <!-- <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                            </ul><!-- /.social -->
                        </div><!-- /.center -->
                    </div><!-- /.container -->
                </div><!-- /.footer-bottom -->
            </div><!-- /#footer-inner -->
        </div>
      
      
      
      
    </div><!-- /#footer-wrapper -->
</div><!-- /#wrapper -->

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/libraries/isotope/jquery.isotope.min.js"></script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=true"></script>
<script type="text/javascript" src="/static/js/gmap3.infobox.js"></script>
<script type="text/javascript" src="/static/js/gmap3.clusterer.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>

<script type="text/javascript" src="/static/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script type="text/javascript" src="/static/libraries/bootstrap-sass/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script type="text/javascript" src="/static/libraries/jquery-bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/static/libraries/flexslider/jquery.flexslider.js"></script>
<script type="text/javascript" src="/static/js/jquery.chained.min.js"></script>
<script type="text/javascript" src="/static/js/realocation.js"></script>

</body>
</html>